version: '3.8'

services:
  web:
    image: kety016/sortingalgorithms:latest
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: amalitech
      POSTGRES_PASSWORD: Magnifique
      POSTGRES_DB: jdbc:postgresql://localhost:5432/Library
    ports:
      - "5432:5432"

  redis:
    image: redis:6
    ports:
      - "6379:6379"
