kind: Service
apiVersion: v1
metadata:
  name: java-app-service
spec:
  selector:
    app: advanced-sorting
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8080
      nodePort: 30001  # Use a specific NodePort
  type: NodePort
